* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Coda Caption', sans-serif;
  font-family: 'Dancing Script', cursive;
  font-family: 'Source Sans Pro', sans-serif !important;
  letter-spacing: 0.1em;
  overflow-x: hidden;
  background: #e6e6e6;
}

section {
  height: 100vh;
  width: 100%;
}

h2 {
  display: flex;
  justify-content: center;
  padding-top: 6%;
  font-size: 1.8rem;
}

a {
  text-decoration: none;
}
